<ul class="credits">
    <li><span class="credit-role">Songwriting, bass</span> Johnny White, former member</li>
    <li><span class="credit-role">First manager</span> Jim Harte</li>
    <li><span class="credit-role">Drums</span> Steven Ross</li>
    <li><span class="credit-role">Bass</span> Eddie Follan</li>
    <li><span class="credit-role">Photography</span> Carol A Peacock</li>
    <li><span class="credit-role">Poster art</span> Tracey Exton</li>
    <li><span class="credit-role">Web</span> <a href="https://lukaszpudlo.com" target="_blank" rel="noopener noreferrer">Lukasz Pudlo</a></li>
</ul>
